{% extends 'base.html' %}
{% block content %}

    <!-- Main Content -->
    <div class="main-content container-fluid pt-0 d-flex flex-row flex-column">

        <!-- Row - 1 for Stats-cards -->
        <div class="row g-2 mb-2 row-slim">
            <div class="col-lg mt-0 mb-0 pt-2">
                <div id="stat-card-1" class="card stat-card border-2 p-0 fade-in selected"
                    style="animation-delay: 0.1s;">
                    <div class="card-header">
                        <span class="">Horticulture Points</span>
                    </div>
                    <div class="card-body mt-0 p-0 ">
                        <h5 class="mb-0 px-2">5,990</h5>
                        <!-- <small class="text-muted">408,000</small> -->
                        <small class="text-muted">Km</small>
                    </div>
                </div>
            </div>

            <div class="col-lg mt-0 mb-0 pt-2">
                <div id="stat-card-2" class="card stat-card border-2 p-0 fade-in"
                    style="animation-delay: 0.2s;">
                    <div class="card-header">
                        <span class="">Horticulture Area</span>
                    </div>
                <div class="card-body mt-0 p-0 ">
                        <h5 class="mb-0 px-2">3,990</h5>
                        <!-- <small class="text-muted">408,000</small> -->
                        <small class="text-muted">Km</small>
                    </div>
                </div>
            </div>

        </div>

        <!-- Row - 2 for City-cards -->
        <div class="row g-2 mb-2 row-slim">
            <div class="col-6 col-sm-4 col-md-4 col-lg">
                <div class="card city-card city-card-khi border-2 p-0" id="khi">
                    <div class="card-header mt-1">
                        <h6 class="mb-0 px-2">DHA K</h6>
                    </div>
                    <div class="card-body mt-1 p-0">
                        <p class="mb-0 px-2">5,000 <small class="text-muted">Km</small></p>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-4 col-lg">
                <div class="card city-card city-card-lhr border-2 p-0" id="lhr">
                    <div class="card-header mt-1">
                        <h6 class="mb-0 px-2">DHA L</h6>
                    </div>
                    <div class="card-body mt-1 p-0">
                        <p class="mb-0 px-2">4,000 <small class="text-muted">Km</small></p>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-4 col-lg">
                <div class="card city-card city-card-isl border-2 p-0" id="isl">
                    <div class="card-header mt-1">
                        <h6 class="mb-0 px-2">DHA IR</h6>
                    </div>
                    <div class="card-body mt-1 p-0">
                        <p class="mb-0 px-2">2,000 <small class="text-muted">Km</small></p>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-4 col-lg">
                <div class="card city-card city-card-qut border-2 p-0" id="qut">
                    <div class="card-header mt-1">
                        <h6 class="mb-0 px-2">DHA Q</h6>
                    </div>
                    <div class="card-body mt-1 p-0">
                        <p class="mb-0 px-2">1,000 <small class="text-muted">Km</small></p>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-4 col-lg">
                <div class="card city-card city-card-mul border-2 p-0" id="mul">
                    <div class="card-header mt-1">
                        <h6 class="mb-0 px-2">DHA M</h6>
                    </div>
                    <div class="card-body mt-1 p-0">
                        <p class="mb-0 px-2">9,000 <small class="text-muted">Km</small></p>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-4 col-lg">
                <div class="card city-card city-card-bhw border-2 p-0" id="bhw">
                    <div class="card-header mt-1">
                        <h6 class="mb-0 px-2">DHA B</h6>
                    </div>
                    <div class="card-body mt-1 p-0">
                        <p class="mb-0 px-2">8,000 <small class="text-muted">Km</small></p>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-4 col-lg">
                <div class="card city-card city-card-guj border-2 p-0" id="guj">
                    <div class="card-header mt-1">
                        <h6 class="mb-0 px-2">DHA G</h6>
                    </div>
                    <div class="card-body mt-1 p-0">
                        <p class="mb-0 px-2">3,000 <small class="text-muted">Km</small></p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-4 col-lg">
                <div class="card city-card city-card-city border-2 p-0" id="city">
                    <div class="card-header mt-1">
                        <h6 class="mb-0 px-2">DHA CITY</h6>
                    </div>
                    <div class="card-body mt-1 p-0">
                        <p class="mb-0 px-2">5,000 <small class="text-muted">Km</small></p>

                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-4 col-lg">
                <div class="card city-card city-card-psw border-2 p-0" id="psw">
                    <div class="card-header mt-1">
                        <h6 class="mb-0 px-2">DHA P</h6>
                    </div>
                    <div class="card-body mt-1 p-0">
                        <p class="mb-0 px-2">4,000<small class="text-muted">Km</small></p>

                    </div>
                </div>
            </div>
        
        </div>

        <!-- Row - 3 for Charts and Map Panel-->
        <div class="row g-3 flex-grow-1 row-main">

            <!-- Progress bars / Charts Panel-->

            <div class="col-12 col-lg-3 order-1 order-lg-1">
                <!-- Progress bars -->
                <div id="progressbarspanel" class="charts-panel h-100 d-flex flex-column pt-0 px-0">
                    <div class="chart-wrapper">
                        <div class="chart-header"> Horticulture Area - DHA Wise Statistics</div>
                        <div class="progress-container m-0 p-0">
                            <div class="progress-item mb-2">
                                <div class="progress-label">
                                    <span class="district-name">DHA K</span>
                                    <div class=" d-flex inline-flex p-0 m-0">
                                        <span class="progress-value">5,252 / 10,000 Km</span>
                                    </div>
                                </div>
                                <div class="custom-progress">
                                    <div class="custom-progress-bar khi" style="width: 65%">
                                        <span class="progress-percentage">65%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item mb-2">
                                <div class="progress-label">
                                    <span class="district-name">DHA L</span>
                                    <div class="d-flex inline-flex">
                                        <span class="progress-value">2,252 / 10,000 Km</span>
                                    </div>

                                </div>
                                <div class="custom-progress">
                                    <div class="custom-progress-bar lhr" style="width: 60%">
                                        <span class="progress-percentage">60%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item mb-2">
                                <div class="progress-label">
                                    <span class="district-name">DHA IR</span>
                                    <div class=" d-flex inline-flex">
                                        <span class="progress-value">1,252 / 10,000 Km</span>
                                    </div>
                                </div>
                                <div class="custom-progress">
                                    <div class="custom-progress-bar isl" style="width: 56%">
                                        <span class="progress-percentage">56%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item mb-2">
                                <div class="progress-label">
                                    <span class="district-name">DHA P</span>
                                    <div class="d-flex inline-flex">
                                        <span class="progress-value">1,252 / 10,000 Km</span>
                                    </div>
                                </div>
                                <div class="custom-progress">
                                    <div class="custom-progress-bar psw" style="width: 20%">
                                        <span class="progress-percentage">20%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item mb-2">
                                <div class="progress-label">
                                    <span class="district-name">DHA Q</span>
                                    <div class="d-flex inline-flex">
                                        <span class="progress-value">3,252 / 10,000 Km</span>
                                    </div>
                                </div>
                                <div class="custom-progress">
                                    <div class="custom-progress-bar qut" style="width: 42%">
                                        <span class="progress-percentage">42%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item mb-2">
                                <div class="progress-label">
                                    <span class="district-name">DHA M</span>
                                    <div class="d-flex inline-flex">
                                        <span class="progress-value">4,252 / 10,000 Km</span>
                                    </div>
                                </div>
                                <div class="custom-progress">
                                    <div class="custom-progress-bar mul" style="width: 42%">
                                        <span class="progress-percentage">42%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item mb-2">
                                <div class="progress-label">
                                    <span class="district-name">DHA B</span>
                                    <div class="d-flex inline-flex">
                                        <span class="progress-value">2,252 / 10,000 Km</span>
                                    </div>
                                </div>
                                <div class="custom-progress">
                                    <div class="custom-progress-bar bhwp" style="width: 42%">
                                        <span class="progress-percentage">42%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item mb-2">
                                <div class="progress-label">
                                    <span class="district-name">DHA CITY</span>
                                    <div class="d-flex inline-flex">
                                        <span class="progress-value">6,252 / 10,000 Km</span>
                                        <!-- <span class="progress-value il btn-green">
                                                <i class="bi bi-map-fill"></i>
                                            </span> -->
                                    </div>
                                </div>
                                <div class="custom-progress">
                                    <div class="custom-progress-bar city" style="width: 42%">
                                        <span class="progress-percentage">42%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <div class="progress-label">
                                    <span class="district-name">DHA G</span>
                                    <div class="d-flex inline-flex">
                                        <span class="progress-value">1,252 / 10,000 Km</span>
                                        <!-- <span class="progress-value il btn-green">
                                                <i class="bi bi-map-fill"></i>
                                            </span> -->
                                    </div>
                                </div>
                                <div class="custom-progress">
                                    <div class="custom-progress-bar guj" style="width: 42%">
                                        <span class="progress-percentage">42%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Charts Panel-->
                <div id="stationwisechartpanel" class="charts-panel-back h-100 d-flex flex-column pt-0 px-0">
                    <div class="chart-wrapper flex-grow-0">
                        <div class="chart-header"> DHA K - Horticulture Area Distribution</div>
                        <div id="pie-chart" class="chart-body m-0 p-0"></div>
                    </div>
                    <div class="chart-wrapper flex-grow-1">
                        <div class="chart-header"> DHA K - Breakdown of Horticulture Layer</div>
                        <div id="bar-chart" class="chart-body"></div>
                    </div>
                </div>
                <!-- Authors -->
                <div class="small authors fw-light px-2 p-0 m-0">Developed by <a href="https://www.r2v.com"
                        target="_blank">www.r2v.com</a></small></div>
            </div>

            <!-- Map Panel -->
            <div class="col-12 col-lg-9 order-2 order-lg-2">
                <div class="map-panel h-100">
                    <div id="map"></div>
                    <div id="legend" class="position-absolute end-0 top-0 m-0 shadow map-overlay-box m-2">
                        <h6 class="mb-3">Map Legend</h6>
                        <button class="close-btn btn-red" aria-label="Close">×</button>
                        <div class="legend-content">
                            <div class="legend-item">
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" id="phase1" class="legend-checkbox me-2" checked>
                                    <label for="running-checkbox" class="legend-label mb-0">
                                        <span class="legend-icon icon4"></span>
                                        <span>Horticulture Points</span>
                                    </label>
                                </div>
                            </div>
                            <div class="legend-item">
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" id="" value="0" class="legend-checkbox me-2" checked>
                                    <label for="running-checkbox" class="legend-label mb-0">
                                        <span class="legend-icon icon3"></span>
                                        <span>Horticulture Area</span>
                                    </label>
                                </div>
                            </div>
                            <div class="legend-item">
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" id="" value="0" class="legend-checkbox me-2" checked>
                                    <label for="running-checkbox" class="legend-label mb-0">
                                        <span class="legend-icon ">
                                            <i class="bi bi-map-fill"></i>
                                        </span>
                                        <span>Townplan</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}
